/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.scss */
body {
  font-family: Gill, Helvetica, sans-serif;
  font-weight: normal;
}

/* line 46, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
.container:before, .container:after {
  content: "";
  display: table;
}
/* line 50, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
.container:after {
  clear: both;
}

/* line 19, ../sass/screen.scss */
header {
  background: #2d2d2d;
  padding: 15px 15px 15px 15px;
  color: white;
  min-height: 300px;
  font-weight: bold;
  padding-top: 80px;
}

/* line 31, ../sass/screen.scss */
header hgroup h1 {
  font-size: 12px;
  display: none;
}
/* line 36, ../sass/screen.scss */
header hgroup h2 {
  font-size: 64px;
  text-align: center;
}
/* line 41, ../sass/screen.scss */
header hgroup h3 {
  font-size: 29px;
  font-weight: normal;
  margin-right: 202px;
  text-align: right;
  margin-top: 15px;
}

/* line 57, ../sass/screen.scss */
nav {
  display: none;
}

/* line 62, ../sass/screen.scss */
section#main-content,
section#sub-content {
  padding: 15px 15px 15px 15px;
}
/* line 66, ../sass/screen.scss */
section#main-content hgroup h1,
section#sub-content hgroup h1 {
  font-size: 29px;
  font-weight: bold;
}

/* line 75, ../sass/screen.scss */
section#main-content {
  background: #f9faf5;
  border-bottom: 1px solid #cccccc;
  text-align: center;
  font-size: 16px;
  color: #323232;
  font-weight: bold;
  line-height: 1.5em;
  min-height: 150px;
  padding-top: 40px;
}
/* line 87, ../sass/screen.scss */
section#main-content p {
  width: 1200px;
}

/* line 93, ../sass/screen.scss */
section#sub-content {
  background: white;
  min-height: 300px;
  border-bottom: 1px solid #cccccc;
}
/* line 97, ../sass/screen.scss */
section#sub-content h1 {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 20px;
}
/* line 104, ../sass/screen.scss */
section#sub-content .block-wrapper {
  margin-top: 40px;
}
/* line 108, ../sass/screen.scss */
section#sub-content .block-wrapper ul {
  background: #f9faf5;
  width: 350px;
  float: left;
  padding: 15px 15px 15px 15px;
  margin-left: 40px;
  border: 1px solid #cccccc;
  line-height: 1.5em;
  border-radius: 10px;
  border: 1px solid 1px solid #cccccc;
  padding: 10px;
}

/* line 124, ../sass/screen.scss */
footer {
  background: #f9faf5;
  min-height: 200px;
  text-align: center;
  padding-top: 60px;
}
